.window-form-att {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 25%;
    border: 1px solid #007bff;
    border-radius: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    display: flex; /*IE*/
    flex-direction: column; /*IE*/
    transition: all 0.6s ease;
}

.att-btn-div {
    display: flex;
    justify-content: space-evenly;
}

.window-form-att button {
    background-color: #007bff;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
}

.att-form {
    width: 70%;
    margin: 1rem auto;
}

.window-form-att header {
    color: white;
    background-color: #007bff;
}

.window-form-att main {
    padding: 5px;
}

.window-form-att textarea {
    resize: none;
    margin: auto;
    width: 90%;
}

#load-att-btn {
    background-color: #e6e6e6;
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    color: black;
    overflow: hidden;
    border-width: 0;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    transition: all 0.4s ease 0s;
}

#load-att-btn:hover {
    background-color: #28a745;
    color: white;
    border-radius: 15px;
}

#load-att-btn:active {
    outline: none;
}
