main {
    flex-basis: 70%;
}

aside {
    flex-basis: 15%;
}

main {
    margin-top: 5px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

#avatar {
    width: 300px;
    height: 300px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

#avatar-div {
    margin-left: 5px;
}

#upload-img {
    display: none;
}

.data-form {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    border-width: 1px;
}

#avatar-div {
    flex-basis: 10%;
}

.information-div {
    flex-basis: 80%;
}


#contact-data {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
}


.tables-phone-att {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}

.tables-phone-att button {
    background-color: #439BF9;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
}

.tables-phone-att button:hover,
.tables-phone-att button:active,
.tables-phone-att button:focus {
    background-color: #F4BD11;
}


.phone-container {
    flex-basis: 47%;
}

.att-container {
    flex-basis: 47%;
}

.date-form {
    display: flex;
    justify-content: space-between;
}

.sex-radio, .maritalStatus-radio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}