.window-email {
    width: 50%;
}

.window-form-email {
    width: 85%;
    margin: 1rem auto;
}

.window-email main {
    padding: 5px;
}

.window-email h3 {
    color: #439BF9;
}

.window-email header {
    color: white;
    background-color: #007bff;
}

.window-email button {
    background-color: #007bff;
    border-width: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.window-email input[type=text], .window-email textarea {
    padding-top: 0;
}

#recipient {
    resize: none;
    margin: auto;
    width: 30%;
    overflow: scroll;
}

#textMessage {
    resize: none;
    margin: auto;
    width: 75%;
    overflow: scroll;
}

#template-div {
    width: 80%;
    margin: auto;
}

#template-div-content {
    border: 3px solid #439BF9;
}