.window-main-email {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(109, 150, 240, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;

}

.window-email {
    margin: 0;
    padding: 0;
    background-color: white;
    height: auto;
    width: 50%;
    border: 1px solid #007bff;
    border-radius: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: auto;
    font-weight: 500;
    font-size: 16px;
    display: flex; /*IE*/
    flex-direction: column; /*IE*/
    font-family: 'Montserrat', sans-serif;
}

.window-form-email {
    width: 85%;
    margin: 1rem auto;
}

.window-email main {
    padding: 5px;
}

.window-email header {
    color: white;
    background-color: #007bff;
}

.window-email button {
    background-color: #007bff;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
}

.window-email input[type=text] , .window-email textarea {
    padding-top: 0;
}

#recipient {
    resize: none;
    margin: auto;
    width: 30%;
    overflow: scroll;
}

#textMessage {
    resize: none;
    margin: auto;
    width: 75%;
    overflow: scroll;
}