.window-filter {
    width: 40%;
}

.main-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.window-form {
    width: 35%;
    margin: 1rem auto;
}

.window-filter header {
    color: white;
    background-color: #007bff;
}

.window-filter main {
    padding: 5px;
}

.window-filter h3 {
    color: #439BF9;
}

.window-filter input[type=text] {
    width: 70%;
    padding-top: 0;
}

.date-filter {
    text-align: center;
}

.window-filter .form-check {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


#single-div, #male-div {
    margin-right: 20px;
}

#married-div, #female-div {
    margin-left: 20px;
}

.window-filter button {
    background-color: #007bff;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
}

.date-form {
    display: flex;
    justify-content: space-evenly;
}

.save-btn:hover {
    background-color: #28a745;
}

.close-btn:hover {
    background-color: #dc3545;
}

.clear-btn:hover {
    background-color: #F4BD11;
}