html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.table-striped {
    border: solid 1px #439BF9;
    margin-bottom: 30px;
}

.table-striped > thead {
    background-color: #439BF9;
    color: #f7f7f7;
    font-size: 16px;
}

#contacts-table {
    font-size: 15px;
    font-weight: 400;
}

.main-container {
    display: flex;
    min-height: 100%;
}

main {
    /*flex-shrink: 0;*/
    flex-basis: 80%;
    position: relative;
}

aside {
    /*flex-shrink: 0;*/
    background-color: #e6e6e6;
    flex-basis: 10%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: #439BF9;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

nav {
    font-size: 16px;
    text-decoration: none;
}

#menu-list {
    list-style: none;
}

#menu-list li {
    display: inline-block;
}

#menu-list button {
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 40px;
    margin: 5px 0 5px 0;
    font-weight: 500;
    transition: all 0.4s ease 0s;
}

#menu-list button:hover {
    background-color: black;
    color: #e6e6e6;
    border-radius: 15px;
}

#menu-list button:active {
    background-color: black;
    color: red;
}

#logo {
    color: #f7f7f7;
    margin: 10px 25% 10px 10px;
    font-weight: 700;
    transition: all 0.4s ease 0s;
}

#logo h2:hover {
    color: black;
    cursor: default;
}

#pagination-div {
    margin-bottom: 30px;
}

footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 500;
    padding: 5px;
    position: absolute;
    bottom: 0;
    background-color: #439BF9;
    color: #f7f7f7;
}