.window-main-phone {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(109, 150, 240, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;

}


.window-form-phone {
    margin: 0;
    padding: 0;
    background-color: white;
    height: auto;
    width: 25%;
    border: 1px solid #439BF9;
    /*border-top-right-radius: 30px;*/
    /*border-top-left-radius: 30px;*/
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    display: flex; /*IE*/
    flex-direction: column; /*IE*/
}

.phone-form {
    width: 70%;
    margin: 1rem auto;
}

.window-form-phone header {
    color: white;
}

.window-form-phone main {
    padding: 5px;
}

.window-form-phone input[type=text] {
    width: 70%;
}

.window-form-phone textarea {
    resize: none;
    margin: auto;
    width: 90%;
}

.window-form-phone .form-check {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#mobile-form-div {
    margin-right: 20px;
}

#home-form-div {
    margin-left: 20px;
}

.window-form-phone button {
    background-color: #439BF9;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
}

.save-btn:hover {
    background-color: #28a745;
}

.close-btn:hover {
    background-color: #dc3545;
}