.window-form-phone {
    width: 25%;
}

.phone-form {
    width: 70%;
    margin: 1rem auto;
}

.window-form-phone header {
    color: white;
    background-color: #007bff;
}

.window-form-phone main {
    padding: 5px;
}

.window-form-phone input[type=text] {
    width: 70%;
}

.window-form-phone textarea {
    resize: none;
    margin: auto;
    width: 90%;
}

.window-form-phone .form-check {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#mobile-form-div {
    margin-right: 20px;
}

#home-form-div {
    margin-left: 20px;
}

.window-form-phone button {
    background-color: #007bff;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
}

.save-btn:hover {
    background-color: #28a745;
}

.close-btn:hover {
    background-color: #dc3545;
}